@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v51-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/roboto-v51-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/play-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/play-v21-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-white: #ffffff;
}

a {
  display: inline-block;
  text-decoration: none;
}

.link {
  margin-bottom: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 88px 0;
}

.container-center {
  width: 100%;
  max-width: 1240px;
  padding: 48px 0;
  margin: 0 auto;
}

.titls {
  font-size: 64px;
  margin: 0;
}
.span {
  color: var(--color-brand-light);
}

* {
  box-sizing: border-box;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 32px 100px;
  padding: 0 24px;
}

.logo,
.footer-logo {
  font-family: 'Play', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-brand-light);
  margin: 0;
}

.header-logo {
  gap: 240px;
  text-align: center;
}

.navigation {
  display: flex;
  text-align: center;
  gap: 240px;
}

.header-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 56px;
}

.header-container {
  padding: 32px 0;
  display: flex;
  align-items: center;
  gap: 240px;
  margin: 0 auto;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-icon {
  fill: var(--color-brand-dark);
}

.address-icon:hover {
  fill: var(--color-white);
}

.address-item {
  display: flex;
  gap: 32px;
  text-align: right;
  justify-content: right;
}

/* Main section */

.main-container {
  margin: 0;
}

.header-section {
  background-image: url(./images/header-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1198px -191px 0 0;
}

.before-logo {
  margin: 0;
}

.main-logo {
  font-family: 'Play', sans-serif;
  color: #2b7fff;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.9;
  text-transform: capitalize;
  max-width: 530px;
  margin: 0 0 40px 0;
}

.before-logo {
  font-size: 16px;
  margin: 0 0 16px 0;
}

.button-section {
  width: 238px;
}

.button {
  padding: 16px 32px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
}

.after-logo {
  width: 238px;
  margin: 14px 0 0 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

/* About us */

.about-us-container .span {
  text-transform: capitalize;
}

.about-us-text {
  width: 710px;
  margin-top: 126px;
}

.accent {
  text-transform: capitalize;
}
.main-text {
  padding: 40px 0 40px;
  margin: 0;
}

.about-us-container {
  display: flex;
  gap: 32px;
  margin: 0;
}

.images {
  display: block;
}

/* .women-photo {
  display: block;
  justify-content: right;
} */

/* Чому люди обирають нас */

.choose-title {
  /* padding: 176px 0 0; */
  margin: 0;
}

.beauty-cards {
  display: flex;
  gap: 56px;
  margin-top: 48px;
  padding: 0 0;
  justify-content: center;
}
.ads-card {
  width: 316px;
  height: 181px;
  border-radius: 32px;
  border: 2px solid #000000;
  /* удалить */
}

.ads-card .advantages {
  text-align: center;
  padding-top: 8px;
  margin: 0;
}

.cards {
  padding: 24px 32px;
  text-align: center;
}

.imag {
  fill: var(--color-brand-light);
}

/*  */

.masks {
  display: flex;
  gap: 16px;
  padding: 0;
}

.procedures {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-white);
  border: 1px solid var(--color-white);
}

/* logo */
.logo {
  font-family: 'Play';
  color: #2b7fff;
  font-weight: 700;
  line-height: 0.9;
  text-transform: capitalize;
}

.navigation .logo {
  font-size: 22px;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
}

.main-section {
  margin: 0;
}

.main-section .before-logo {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.main-section .logo {
  text-align: center;
  font-size: 140px;
  line-height: 0.8;
  margin: 0;
}

.main-section .after-logo {
  font-size: 12px;
  line-height: 1.5;
}

.button-section {
  margin: 0;
}

/* link */
.link {
  color: #011c44;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

/* Address link */
.address-link {
  font-size: 16px;
  color: #ffffff;
}

/* Заголовки і текст */
.title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

/* center title */
.center-title .title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.center-title .title .accent {
  color: var(--color-brand-light);
}

.section-about-us .main-text {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-brand-dark);
}

.section-about-us .accent {
  font-weight: 600;
}

/*  */
.center-title .advantages {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}
.for-photos {
  /* color: #ffffff; */
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}

.maps {
  display: flex;
  justify-content: center;
}

.map {
  border: none;
  border-radius: 32px;
  margin-top: 48px;
  justify-content: right;
}

/* Footer */


.footer-section {
  background-image: url("./images/footer-background.png");
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 100px;
  gap: 186px;
}

.footer-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 186px;
}

.footer-list,
.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contact {
  display: flex;
  font-style: normal;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-menu,
.address-link {
  max-width: 192px;
  color: white;
  text-decoration: none;
}

.footer-menu:hover,
.address-link:hover {
  color: var(--color-brand-light);
}

.address-icon-footer {
  fill: var(--color-white);
}

.address-icon-footer:hover {
  fill: var(--color-brand-light);
}

.footer-address{
  flex-grow: 1;
}

.social-footer{
  display: flex;
  gap: 24px;
  padding: 16px 0;
}

.footer-policy {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.address-copyright {
  color: #747272;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 16px 0;
}
